.home_grad {
	background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height:75vh;
	border-bottom-left-radius: 2500px;
	border-bottom-right-radius: 2500px;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
