
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 392px) {
	.home_grad {
		background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		height:50vh;
		border-bottom-left-radius: 700px;
		border-bottom-right-radius: 700px;
	
	}
}
@media only screen and (min-width: 392px) {
	.home_grad {
		background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		height:50vh;
		border-bottom-left-radius: 700px;
		border-bottom-right-radius: 700px;
	
	}
}

@media only screen and (min-width: 767px) {
	.home_grad {
		background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		height:50vh;
		border-bottom-left-radius: 2500px;
		border-bottom-right-radius: 2500px;
	
	}
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.home_grad {
		background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		height:50vh;
		border-bottom-left-radius: 2500px;
		border-bottom-right-radius: 2500px;
	
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.home_grad {
		background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		height:50vh;
		border-bottom-left-radius: 500px;
		border-bottom-right-radius: 500px;
	
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.home_grad {
		background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		height:70vh;

		border-bottom-left-radius: 800px;
		border-bottom-right-radius:800px;
	}
}
@media only screen and (min-width: 1900px) {
	.home_grad {
		background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		height:55vh;
		border-bottom-left-radius: 800px;
		border-bottom-right-radius:800px;
	
	}
}
@media only screen and (min-width: 2100px) {
	.home_grad {
		background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		height:45vh;
		border-bottom-left-radius: 800px;
		border-bottom-right-radius:800px;
	
	}
}
@media only screen and (min-width: 2300px) {
	.home_grad {
		background: linear-gradient(-45deg, #fabfac, #eb6b9c, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		height:25vh;
		border-bottom-left-radius: 800px;
		border-bottom-right-radius:800px;
	
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
